<div class="buy" ng-controller="buy_ctr">
	<div class="buyBanner" id="buyBanner">
		<img src="images/buy-banner1.jpg" alt="">
		<img src="images/buy-banner2.jpg" alt="">
		<img src="images/buy-banner3.jpg" alt="">
		<div class="indicator">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<ul class="nav clearfix">
		<li>特色小吃</li>
		<li>特色礼品</li>
		<li>特色首饰</li>
		<li>特色衣品</li>
		<li>特色鞋子</li>
		<li>民族风情</li>
		<li>当地介绍</li>
		<li>呼叫导游</li>
	</ul>
	<div class="show buy-container">
		<h2>当地特色</h2>
		<ul class="clearfix" id="buyUl">
			<li style="background: url(images/buy-show1.jpg) no-repeat;">
				<div>
					<p>特色小吃</p>
				</div>
			</li>
			<li style="background: url(images/buy-show2.jpg) 0 0 no-repeat;">
				<div>
					<p>特色礼品</p>
				</div>
			</li>
			<li style="background: url(images/buy-show3.jpg) 0 0 no-repeat;">
				<div>
					<p>特色首饰</p>
				</div>
			</li>
			<li style="background: url(images/buy-show4.jpg) 0 0 no-repeat;">
				<div>
					<p>特色衣品</p>
				</div>
			</li>
			<li style="background: url(images/buy-show5.jpg) 0 0 no-repeat;">
				<div>
					<p>特色小吃</p>
				</div>
			</li>
			<li style="background: url(images/buy-show6.jpg) 0 0 no-repeat;">
				<div>
					<p>民族风情</p>
				</div>
			</li>
		</ul>
	</div>
</div>