<div class="index_content">
    <div class="bg-content">
        <div class="bg-animated">
            <div class="ani-yellow">
                <img src="images/mofang_yellow.png">
            </div>
            <div class="ani-smallblue">
                <img src="images/mofang_smallblue.png">
            </div>
            <div class="ani-red">
                <img src="images/mofang_red.png">
            </div>
            <div class="ani-bigblue">
                <img src="images/mofang_bigblue.png">
            </div>
        </div>
    </div>
    <div id="indexPage">
        <div class="section section1">
            <div class="content content1">
                <img src="images/mofang_logo.png" alt="">
                <p class="title">魔力旅游网</p>
                <p class="underline"><span></span></p>
                <p class="introduce">丰富、灵活、实用的多平台基础组件及规范，帮助公司降低设计和开发成本， 为新产品提供优质高效的支持。</p>
                <p class="bottom">平台事业部出品 & 滴滴创意设计中心</p>
            </div>
        </div>
        <div class="section section2">
            <div class="content content2">
                <p class="title">丰富的旅游规划推荐</p>
                <p class="introduce">各种好吃的,好玩儿的,好看的,只有你想不到的,没有我们做不到的,只为您专属定制</p>
                <ul class="content2_img clearfix">
                    <li>
                        <img class="w140" src="images/mofang_p1.png" alt="">
                        <a href=""><span class="btn">webapp审阅</span></a>
                    </li>
                    <li>
                        <img class="w140" src="images/mofang_p2.png" alt="">
                        <a href=""><span class="btn">native自然</span></a>
                    </li>
                    <li>
                        <img class="w316" src="images/mofang_p3.png" alt="">
                        <a href=""><span class="btn">PC订阅</span></a>
                    </li>
                    <li>
                        <img class="w320" src="images/mofang_p44.png" alt="">
                        <a href=""><span class="btn">品牌规范</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="section section3">
            <div class="content content3">
                <p class="title">多方使用质量验证</p>
                <p class="introduce">自本网站上线以来，已服务过80%业务线</p>
                <div class="content3_center">
                    <p class="introduce">服务广大消费群众,只为您的微笑</p>
                    <h3>30+</h3>
                    <h4 class="introduce">部分使用方：</h4>
                    <h5 class="introduce">快车、试驾、顺风车、代驾、专车、巴士、公共平台、大数据&数据研究院、用户体验平台等</h5>
                </div>
                <p class="bottom">数据来源：使用方反馈</p>
            </div>
        </div>
        <div class="section section4">
            <div class="content content4">
                <p class="title">开发者说</p>
                <p class="introduce">把几位boss拉出来站台，已赌上自己的人品！同学们用起来吧！（—魔方旅游网）</p>
                <div class="content4_center clearfix">
                    <dl>
                        <dt>
                            <a href=""><img src="images/1462771662.jpg" alt=""></a>
                        </dt>
                        <dd>
                            <h6>zhaoping</h6>
                            <p>魔方旅游网提供了大量好用、实惠、便捷的旅游规划，让出行变得简单和纯粹，能把更多精力放在旅途的风景。</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <a href=""><img src="images/1462771670.jpg" alt=""></a>
                        </dt>
                        <dd>
                            <h6>guorong</h6>
                            <p>嘿，世界交给你了，尽情发挥创造力吧！</p>
                        </dd>
                    </dl>
                    <dl style="margin-right: 0;">
                        <dt>
                            <a href=""><img src="images/1462771683.jpg" alt=""></a>
                        </dt>
                        <dd>
                            <h6>siwen</h6>
                            <p>希望魔方承担起它的使命，让人们的出行越来越简单。让世界变成一个家</p>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>