<div class="main-box">
	<h5 class="main-box-title">
		<a href="#">推荐1</a>
		<a href="#">推荐2</a>
		<a href="#">推荐3</a>
		<a href="#">推荐4</a>
	</h5>	
	<div class="main-of-1">
		<div class="main-box-content clearfix">
			<div class="main-30">1</div>
			<div class="main-30">2</div>
			<div class="main-30">3</div>
		</div>
	</div>
	<div class="main-of-2">
		banner 图
	</div>
	<div class="main-of-3">
		<div class="main-box-content clearfix">
			<div class="main-30">1</div>
			<div class="main-30">2</div>
			<div class="main-30">3</div>
		</div>
	</div>
</div>